*, html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.content {
    width: 960px;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.box {
    width: 50%;
    height: auto;
    margin: auto;
    padding: 5%;
}

.box-width {
    width: 16rem;
}

.box-image {
    display: block;
    height: auto;
    margin: 2.5rem auto;
}

.box-title {
    margin: .5rem auto;
    font-size: 1.5rem;
}

.box-title.student {
    color: rgb(33, 80, 155);
}

.box-title.staff {
    color: rgb(176, 131, 113);
}

.box-text{
    margin: .2rem auto;
}

.button-box {
    margin: 2rem auto;
}

.box-button {
    display: block;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: .5rem;
    width: 9rem;
    padding: 0.5rem;
    background-color: rgb(250, 250, 250);
}

.box-button.student {
    color: rgb(33, 80, 155);
    border: 2px solid rgb(33, 80, 155);
}

.box-button.student:hover {
    background-color: rgb(33, 80, 155);
    color:rgb(250, 250, 250);
    transition: .2s;
}

.box-button.staff {
    color: rgb(176, 131, 113);
    border: 2px solid rgb(176, 131, 113);
}
.box-button.staff:hover {
    background-color: rgb(176, 131, 113);
    color: rgb(250, 250, 250);
    transition: .2s;
}


footer {
    width: 100%;
    height: auto;
    background-color: rgb(243, 231, 215);
    padding: 2rem 0;
}

.footer-box {
    width: 960px;
    margin: auto;
}

.footer-image {
    display: block;
    width: 13rem;
}

.footer-text {
    color: rgb(180, 158, 134);
    padding-top: 1rem;
    font-size: 0.8rem;
}

.footer-text p {
    margin: 0.3rem 0;
}

@media (max-width: 960px) {
    .content {
        width: 100%;
    }

    .footer-box {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .content {
        display: block;
    }

    .box {
        width: 100%;
    }
}