/*CHECK BOX*/
.checkbox {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
}
.checkbox:hover .checktick {
    background-color: rgb(24, 99, 24);;
}
.checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}
.checktick {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: rgb(32, 131, 32);
    color: white;
    border-radius: 5px;
}
.checktick::after {
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f00c";
    color: white;
    position: absolute;
    left: 10px;
    top: 9.2px;
    display: none;
}
.checkbox input:checked ~ .checktick::after {
    display: block;
}
.checkbox-text {
    display: inline-block;
    margin: 0;
}

/*RAIO BOX*/
.radiobox {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
}
.radiobox:hover .radiotick {
    background-color: rgb(24, 99, 24);;
}
.radiobox input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}
.radiotick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgb(32, 131, 32);
    color: white;
}
.radiobox input ~ .radiotick::after {
    font-size: 20px;
    font-family: 'Font Awesome 5 Free';
    content: " \f111";
    font-weight: 900;
    color: white;
    display: none;
}
.radiobox input:checked ~ .radiotick::after {
    display: block;
}
.radiobox-text {
    display: inline-block;
    margin: 0;
}